---
import { Icon } from "astro-icon";
import Question from "../Question.astro";
---

<div class="collapse bg-base-300">
	<input type="checkbox" />
	<div class="collapse-title flex text-xl font-medium">
		<Icon name="briefcase-search" class="ml-1 mr-4 h-7 w-7 text-[#a61168]" />Location & Availability
	</div>
	<div class="collapse-content">
		<div class="flex flex-col gap-2">
			<Question
				question="What is your current professional role, & what type of projects are you working on there?"
				answer="I currently work as an AI Data Annotation Specialist. As a professional currently working in the field of AI and machine learning, my role involves critically reviewing AI-generated content. This work is crucial in ensuring the content aligns with the high standards of quality, efficiency, and various project objectives. A key aspect of my role is advocating for ethical AI development. This includes prioritizing fairness, inclusivity, and a diversity of ideas and opinions, while ensuring strict adherence to safety guidelines and regulations when reviewing responses. Another significant part of my job is enhancing the credibility and quality of AI responses. This is achieved through meticulous research and fact-checking, ensuring the responses are accurate, reliable, and original. Lastly, I contribute towards the development & performance of future and current AI models using modern data annotation methods, providing high-quality data for Reinforcement Learning from Human Feedback (RLHF)."
			/>
			<Question
				question="What did you do for work before you graduated?"
				answer="A couple of years after starting Foundry Media Company at 19, I took on a pivotal role at one of the largest General Contractors and construction companies in California. My position as a Bid/Estimating Coordinator, which I held from August 2021 to June 2023, was not only a steady source of income as I finished my Bachelor's degree but also a significant step in my professional development. Despite being a job I held in college, there was no shortage of stressful situations. Every bid was simultaneously similar to other projects we'd done before and completely different than anything we'd ever seen. In this role, I leveraged my organizational and project management skills to successfully handle the submission of hundreds of contracts, ensuring compliance with local, state, and federal standards. I was instrumental in bidding on billions of dollars of construction projects around the state, going on to secure hundreds of millions of dollars in bids across California. This achievement was a direct result of effective teamwork and collaboration. My responsibilities also included optimizing the bid process through the use of Microsoft Office Suite, utilizing the power of VBA, as well as modern automation tools & simple HTML and JavaScript utilities. I developed a pre-qualification database and emailing system for subcontractors, and configured a shared drive for the automatic printing of project contracts, plans, and specifications. "
			/>
			<Question
				question="Where are you currently located, & are you willing to relocate?"
				answer="I am currently based in the San Francisco Bay Area, specifically in Livermore, California. I am open to the idea of relocating, particularly for an exceptional opportunity that aligns with my career goals. While I am willing to consider moving out of state under the right circumstances, I am especially open to relocating locally within California. Feel free to get in touch and we can discuss potential opportunities."
			/>
			<Question
				question="Are you open to exploring new opportunities, projects, or collaborations in web development?"
				answer="I am always interested in exploring new opportunities and collaborations, especially in the realm of web development. While I'm committed to specializing in this field, I also value the importance of adaptability and am open to pivoting towards other tech-related roles if they align with my skills and professional growth. I believe the right opportunity, coupled with mentorship, can lead to mutually beneficial outcomes. If I am welcome & I think I would be able to contribute effectively, I would love to join your team."
			/>
		</div>
	</div>
</div>
