---
import HeroButtons from "../../components/Hero/HeroButtons.astro";
import SubmissionMenu from "../../components/ContactForm/SubmissionMenu.astro";
import Layout from "../../layouts/Layout.astro";

const pageTitle = "Success - Contact Form Submission Sent to Jordan Muller";
const description =
	"If you submitted a message via contact form, you will be redirected here. Feel free to keep exploring my site after submission. Reach out if you have questions.";
---

<Layout pageTitle={pageTitle} description={description}>
	<section class="container prose mx-auto px-6 pt-14">
		<SubmissionMenu />
	</section>
	<div class="mt-0 pb-10">
		<HeroButtons />
	</div>
</Layout>
