---
import { Image } from "astro:assets";
import ErrorImage from "../../assets/images/404-error.png";
---

<section class="flex flex-col items-center">
	<h1 class="mb-4 mt-0 text-center">404 - Page Not Found</h1>
	<h2 class="mb-4 mt-0 text-center text-xl font-bold">It looks like that page doesn't exist.</h2>
	<div class="gradient-card-bg my-4 max-w-sm rounded-2xl p-2 shadow-2xl">
		<div class="gradient-bg rounded-2xl p-2">
			<Image
				src={ErrorImage}
				alt="A cartoon latop shows a sad face on the main screen, messages surround the computer showing 404 and Page Not Found as the errors."
				title="404 Page Not Found Error"
				class="my-0 w-full"
				loading="eager"
			/>
		</div>
	</div>
	<div class="my-2 flex flex-col justify-center">
		<p class="my-0 max-w-md text-center text-lg">
			Use the main menu, one of these quick links, or the search below to look for something
			specific!
		</p>
	</div>
</section>
