---
import { Icon } from "astro-icon";
---

<div class="flex justify-center">
	<a href="#introduction" class="pointer"
		><Icon name="mdi:arrow-down-bold-circle-outline" class="mb-8 mt-8 h-8 w-8 animate-bounce" /></a
	>
</div>
