---

---

<h1 class="text-center text-4xl font-bold lg:text-5xl">
	Hi <span title="Waving Hand">👋</span>, my name is <br />Jordan Muller
</h1>
<p class="my-4 text-center text-xl font-normal lg:text-2xl">
	I am a Full Stack Developer,<br />based in California
</p>
