---
import { Icon } from "astro-icon";
---

<div class="my-8 flex justify-center">
	<a href="#introduction" class="pointer h-8 w-8"
		><Icon
			name="mdi:arrow-down-bold-circle-outline"
			title="Scroll Down to View Home Page Content"
			aria-label="Bouncing Arrow to Scroll Past Hero to View Home Page Content"
			class="h-8 w-8 animate-bounce"
		/></a
	>
</div>
