---
import DownArrow from "../../icons/ui/DownArrow.astro";
---

<div class="my-8 flex justify-center">
	<a href="#introduction" class="pointer h-8 w-8 animate-bounce"><DownArrow size="32" /></a>
</div>
