---
import DownArrow from "../../icons/ui/DownArrow.astro";
---

<div class="my-8 flex justify-center">
	<a
		href="#introduction"
		class="pointer animate-bounce"
		title="Scroll Down to Main Content"
		aria-label="Scroll Down to Main Content"><DownArrow size="32" /></a
	>
</div>
