---
import { Image } from "astro:assets";
import AvatarImage from "../../images/Jordan-Muller-Profile-Picture.jpg";
---

<div class="gradient-img-bg max-w-[18rem] rounded-2xl p-2 lg:mb-12">
	<Image
		src={AvatarImage}
		alt="Jordan Muller Portrait"
		title="Jordan Muller Portrait"
		class="max-w-[16rem] rounded-2xl"
		loading="eager"
	/>
</div>
