---
import { Icon } from "astro-icon";
---

<ul class="mb-2 flex flex-wrap justify-center gap-2">
	<li>
		<a href="/portfolio"
			><button class="btn btn-accent btn-sm h-auto"
				><Icon name="mdi:briefcase-account-outline" class="h-4 w-4" />Portfolio</button
			></a
		>
	</li>
	<li>
		<a href="/contact"
			><button class="btn btn-primary btn-sm h-auto"
				><Icon name="mdi:phone-message-outline" class="h-4 w-4" />Contact</button
			></a
		>
	</li>
	<li>
		<a href="resources/resume"
			><button class="btn btn-secondary btn-sm h-auto"
				><Icon name="mdi:file-account-outline" class="h-4 w-4" />Resume</button
			></a
		>
	</li>
</ul>
<ul class="flex justify-center gap-2">
	<li>
		<a href="https://github.com/itsjordanmuller" class="btn btn-outline btn-neutral btn-sm h-auto"
			><Icon name="mdi:github" class="h-4 w-4" />GitHub</a
		>
	</li>
	<li>
		<a
			href="https://www.linkedin.com/in/itsjordanmuller"
			class="btn btn-outline btn-neutral btn-sm h-auto"
			><Icon name="mdi:linkedin" class="h-4 w-4" />LinkedIn</a
		>
	</li>
</ul>
