---
import { Image } from "astro:assets";
import AvatarImage from "../../images/Jordan-Muller.jpeg";
---

<div class="max-w-[18rem] rounded-2xl bg-[#a61168] p-2 shadow-xl lg:mb-12">
	<Image
		src={AvatarImage}
		alt="Jordan Muller Profile Picture"
		class="max-w-[16rem] rounded-2xl shadow-md shadow-[#00000080]"
	/>
</div>
