---
import BriefcaseAccount from "../../icons/ui/BriefcaseAccount.astro";
import AccountFile from "../../icons/ui/AccountFile.astro";
import PhoneMessage from "../../icons/ui/PhoneMessage.astro";
import GitHubLogo from "../../icons/logos/social/GitHubLogo.astro";
import LinkedInLogo from "../../icons/logos/social/LinkedInLogo.astro";
---

<div class="mb-8">
	<ul class="mb-2 flex flex-wrap justify-center gap-2">
		<li>
			<a href="/portfolio" title="View My Portfolio Projects" class="btn btn-accent btn-sm h-auto"
				><BriefcaseAccount size="20" />Portfolio</a
			>
		</li>
		<li>
			<a href="/contact" title="Contact Me" class="btn btn-primary btn-sm h-auto"
				><PhoneMessage size="20" />Contact</a
			>
		</li>
		<li>
			<a href="resources/resume" title="View My Resume" class="btn btn-secondary btn-sm h-auto"
				><AccountFile size="20" />Resume</a
			>
		</li>
	</ul>
	<ul class="flex justify-center gap-2">
		<li>
			<a
				href="https://github.com/itsjordanmuller"
				title="View My GitHub Profile"
				class="btn btn-outline btn-neutral btn-sm h-auto"><GitHubLogo size="20" />GitHub</a
			>
		</li>
		<li>
			<a
				href="https://www.linkedin.com/in/itsjordanmuller"
				title="View My LinkedIn Profile"
				class="btn btn-outline btn-neutral btn-sm h-auto"><LinkedInLogo size="20" />LinkedIn</a
			>
		</li>
	</ul>
</div>
