:root {
	color-scheme: light;
	--fallback-p: #ff79c6;
	--fallback-pc: #d4dbff;
	--fallback-s: #bd93f9;
	--fallback-sc: #fff9fc;
	--fallback-a: #ffb86c;
	--fallback-ac: #00100d;
	--fallback-n: #2b3440;
	--fallback-nc: #d7dde4;
	--fallback-b1: #ffffff;
	--fallback-b2: #e5e6e6;
	--fallback-b3: #e5e6e6;
	--fallback-bc: #1f2937;
	--fallback-in: #00b3f0;
	--fallback-inc: #000000;
	--fallback-su: #00ca92;
	--fallback-suc: #000000;
	--fallback-wa: #ffc22d;
	--fallback-wac: #000000;
	--fallback-er: #ff6f70;
	--fallback-erc: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--fallback-p: #ff79c6;
		--fallback-pc: #050617;
		--fallback-s: #bd93f9;
		--fallback-sc: #190211;
		--fallback-a: #ffb86c;
		--fallback-ac: #000e0c;
		--fallback-n: #2a323c;
		--fallback-nc: #a6adbb;
		--fallback-b1: #1d232a;
		--fallback-b2: #191e24;
		--fallback-b3: #15191e;
		--fallback-bc: #a6adbb;
		--fallback-in: #00b3f0;
		--fallback-inc: #000000;
		--fallback-su: #00ca92;
		--fallback-suc: #000000;
		--fallback-wa: #ffc22d;
		--fallback-wac: #000000;
		--fallback-er: #ff6f70;
		--fallback-erc: #000000;
	}
}

.gradient-bg {
	background: linear-gradient(45deg, #ffcf9b 15%, #ffa4d8 75%, #d2b6fb 100%);
}
.gradient-card-bg {
	background: linear-gradient(45deg, #edb77e 0%, #a61168 60%, #5f458d 100%);
}
.gradient-img-bg {
	background: linear-gradient(45deg, #edb77e 15%, #a61168 55%, #5f458d 90%);
}

.dark {
	--pagefind-ui-primary: #eeeeee;
	--pagefind-ui-text: #eeeeee;
	--pagefind-ui-background: #152028;
	--pagefind-ui-border: #152028;
	--pagefind-ui-tag: #152028;
}

.footer-list-section ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer-list-section li {
	list-style: none;
	padding: 0;
	margin: 0;
}
