---
import Pagefind from "../components/Pagefind.astro";
import Layout from "../layouts/Layout.astro";
import ErrorMenu from "../components/Error/ErrorMenu.astro";
import HeroButtons from "../components/Hero/HeroButtons.astro";
import ErrorBouncingSearch from "../components/Error/ErrorBouncingSearch.astro";

const pageTitle = "Error - Page Not Found";
const description =
	"The page you are looking for wasn't found. You can easily navigate back to the main site or use the search to find what you need.";
---

<Layout pageTitle={pageTitle} description={description} type="search">
	<div
		class="container prose mx-auto mb-4 max-w-5xl px-6 pt-10 text-base-content"
		data-pagefind-ignore="all"
	>
		<ErrorMenu />
	</div>
	<HeroButtons />
	<ErrorBouncingSearch />
	<div class="flex flex-col items-center">
		<div class="container prose max-w-4xl pb-10 text-center">
			<h2 id="404-error-search" class="my-0">Search for Posts, Projects & Resources</h2>
			<Pagefind />
		</div>
	</div>
</Layout>
