---
import Question from "../components/Question.astro";
import Timeline from "../components/Timeline.astro";
import AboutToContactCTA from "../components/AboutToContactCTA.astro";
import Layout from "../layouts/Layout.astro";
import AboutImage from "../components/AboutImage.astro";
import { Icon } from "astro-icon";
const pageTitle = "About - Jordan Muller";
---

<Layout pageTitle={pageTitle}>
	<section class="container mx-auto bg-base-200 px-6 py-10">
		<div class="prose max-w-none">
			<h1 class="text-center">About Me</h1>
			<AboutImage />
			<h2>Who Am I? - My Personal Journey in Tech</h2>
			<p>
				My journey began in the shadow of Silicon Valley, under my grandfather's guidance. A skilled
				machinist, he introduced me to the world of computers at six years old, igniting a lifelong
				passion for technology. I vividly remember the early days of bulky monitors and dial-up
				internet, a stark contrast to the natural beauty of weekends spent fishing and hiking. By
				eight, I had gotten my very own PC, which became my gateway to further explore the realms of
				software, gaming, and digital creativity. My curiosity & fascination with technology has
				expanded as quickly as technology has continued to evolve over the years.
			</p>
			<p>
				My high school years were marked by academic excellence and leadership, culminating in my
				role as Salutatorian and the founding of a STEM club. These experiences honed my leadership
				skills and laid the groundwork for how I would later end up spending my gap year, a crucial
				period for personal growth in my life, which saw me founding a digital marketing agency
				called Foundry Media Company, at nineteen years old.
			</p>
			<p>
				Most notable of these achievements was my recent graduation from university with a Bachelor
				of Science in Computer Science. It was here that I studied advanced topics like Discrete
				Mathematics, Calculus, Software Engineering, AI and Machine Learning, culminating in a AI/ML
				Web App Capstone Project that exemplified my ability to combine technical knowledge with
				practical solutions. My journey has uniquely equipped me for a career in technology,
				underpinned by a profound respect for both the environment and digital innovation's
				transformative power.
			</p>
			<hr />
			<h2>FAQ - Frequently Asked Questions</h2>
			<p>Select a topic below to see my answers to a variety of common questions!</p>
			<div class="flex flex-col gap-2">
				<div class="collapse bg-base-300">
					<input type="checkbox" />
					<div class="collapse-title flex text-xl font-medium">
						<Icon name="heart-pulse" class="ml-1 mr-4 h-7 w-7" />Passions & Inspirations
					</div>
					<div class="collapse-content">
						<div class="flex flex-col gap-2">
							<Question
								question="What are you passionate about?"
								answer="I am deeply passionate about blending technology with environmental & ethical consciousness. My upbringing, surrounded by the natural beauty of Northern California, instilled in me a respect for the environment, which I strive to incorporate into my digital creations."
							/>
							<Question
								question="What inspired you to pursue a career in web development?"
								answer="The inspiration came from the blend of my hands-on experiences during my gap year founding Foundry Media Company, where I tackled web development and digital marketing challenges, and my academic pursuits in computer science, which deepened my understanding of the technical nuances of web development."
							/>
							<Question
								question="How did you start your journey into this field?"
								answer="My journey started with curiosity and a love for technology. From early experiences with AutoCAD on my grandfather's PC to founding my digital marketing agency and studying computer science, each step was a building block towards a career in technology, driven by a desire to merge creativity with technical expertise."
							/>
						</div>
					</div>
				</div>
				<div class="collapse bg-base-300">
					<input type="checkbox" />
					<div class="collapse-title flex text-xl font-medium">
						<Icon name="education" class="ml-1 mr-4 h-7 w-7 text-[#a61168]" />Education & Expertise
					</div>
					<div class="collapse-content">
						<div class="flex flex-col gap-2">
							<Question
								question="What is your educational background?"
								answer="I graduated with a Bachelor of Science in Computer Science from Western Governors University. My degree program covered a broad range of subjects including Software Engineering, Data Structures & Algorithms, Software Quality Assurance, and advanced courses in Artificial Intelligence and Machine Learning. My degree provided me with a strong foundation in computer science principles and practices."
							/>
							<Question
								question="What programming languages & tech do you specialize in?"
								answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, soluta dolor facere minima incidunt repudiandae accusantium! Nulla libero, fugit suscipit dolores corrupti, asperiores voluptates voluptatibus alias perspiciatis vitae exercitationem nobis?"
							/>
							<Question
								question="Do you have any certifications in software development or related fields?"
								answer="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse iure molestias, iste enim nam accusamus nisi deleniti aliquid illum minus adipisci error, totam vitae dolorum. Et quaerat reprehenderit sint quia!"
							/>
							<Question
								question="Beyond formal education, what other skills/experiences have you found most valuable?"
								answer="Answer 4"
							/>
						</div>
					</div>
				</div>
				<div class="collapse bg-base-300">
					<input type="checkbox" />
					<div class="collapse-title flex text-xl font-medium">
						<Icon name="briefcase-search" class="ml-1 mr-4 h-7 w-7 text-[#a61168]" />Location,
						Availability & Role
					</div>
					<div class="collapse-content">
						<div class="flex flex-col gap-2">
							<Question
								question="What is your current professional role, & what kind of projects are you working on?"
								answer="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae dolore et porro aspernatur facilis quisquam corrupti fugit iusto ullam nihil voluptatum debitis in, quibusdam, cum, quae quidem quos blanditiis recusandae."
							/>
							<Question
								question="Where are you currently located, & are you willing to relocate?"
								answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, soluta dolor facere minima incidunt repudiandae accusantium! Nulla libero, fugit suscipit dolores corrupti, asperiores voluptates voluptatibus alias perspiciatis vitae exercitationem nobis?"
							/>
							<Question
								question="Are you open to exploring new opportunities, projects, or collaborations in web development?"
								answer="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse iure molestias, iste enim nam accusamus nisi deleniti aliquid illum minus adipisci error, totam vitae dolorum. Et quaerat reprehenderit sint quia!"
							/>
						</div>
					</div>
				</div>
			</div>
			<AboutToContactCTA />
			<hr />
			<Timeline />
			<hr />
			<p>
				My journey has been a blend of relentless curiosity, a deep appreciation for nature, and a
				commitment to technological innovation.
			</p>
			<p>
				From foundational lessons learned under my family's guidance to the complex & ever-changing
				world of web development, software engineering and machine learning, I have developed a
				skill set that is both diverse and specialized. My academic achievements, leadership
				qualities, and hands-on experience in creating real-world applications underscore my
				readiness to contribute significantly in the field of web development.
			</p>
			<p>
				As I stand at this exciting crossroads, eager to bring my blend of environmental
				consciousness and technological expertise to your team, I invite you to connect with me.I'd
				love to discuss how my unique perspective and skills can help drive your projects forward,
				innovate solutions, and shape the future of software.
			</p>
			<p>
				I believe that together, we can create impactful sustainable digital experiences that
				resonate in this ever-evolving technological landscape and have the potential to change the
				world.
			</p>
		</div>
	</section>
</Layout>
