---
import Layout from "../layouts/Layout.astro";
import AboutImage from "../components/AboutImage.astro";
import Timeline from "../components/Timeline.astro";
import AboutIntro from "../components/AboutIntro.astro";
import FAQSection from "../components/FAQSection.astro";
import AboutOutro from "../components/AboutOutro.astro";

const pageTitle = "About - Jordan Muller - Learn More About Me & My Journey";
const description =
	"Learn more about me and discover the person behind the projects. A mix of professional insights, tips, milestones, & personal reflections.";
---

<Layout pageTitle={pageTitle} description={description}>
	<section class="container mx-auto bg-base-200 px-6 py-10">
		<div class="prose max-w-none">
			<h1 class="text-center">About Me</h1>
			<AboutImage />
			<AboutIntro />
			<hr class="mb-0 mt-8" />
			<FAQSection />
			<hr class="mb-0 mt-8" />
			<Timeline />
			<hr class="my-8" />
			<AboutOutro />
		</div>
	</section>
</Layout>
