---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Jordan Muller - Portfolio">
	<section class="bg-200">
		<Hero />
		<section class="prose px-6 py-10">
			<h1 id="welcome">Welcome to my website</h1>
		</section>
	</section>
</Layout>
