---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Jordan Muller - Portfolio">
	<section class="bg-200">
		<Hero />
	</section>
</Layout>
