---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
import RecentProjects from "../components/RecentProjects.astro";
const pageTitle = "Jordan Muller - Welcome";
---

<Layout pageTitle={pageTitle}>
	<div class="bg-base-100">
		<Hero />
		<div class="container prose mx-auto max-w-none px-12">
			<section>
				<h2 id="introduction" class="mt-0 pt-12 text-center">A Brief Introduction</h2>
				<p class="indent-6">
					Welcome to my personal website and digital portfolio! My name is Jordan & I'm a new
					graduate with a Bachelor of Science in Computer Science, based in the San Francisco Bay
					Area.
				</p>
				<p class="indent-6">
					Feel free to explore my website to see how my academic journey has shaped my skills and
					prepared me for the dynamic world of technology.
				</p>
			</section>
			<RecentProjects />
			<RecentPosts />
		</div>
	</div>
</Layout>
