---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
import RecentProjects from "../components/RecentProjects.astro";
import WelcomeIntro from "../components/WelcomeIntro.astro";

const pageTitle = "Jordan Muller's Portfolio - Projects, Posts & Resources";
const description =
	"Explore my newly created portfolio website. Discover my latest blog posts and programming projects. Browse to learn more about me and my current work.";
---

<Layout pageTitle={pageTitle} description={description}>
	<div class="bg-base-100" data-pagefind-ignore="all">
		<Hero />
		<div class="container prose mx-auto max-w-3xl px-6 text-base-content">
			<WelcomeIntro />
			<RecentProjects />
			<hr />
			<RecentPosts />
		</div>
	</div>
</Layout>
