---
import PageFind from "../components/PageFind.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Search - Jordan Muller";
---

<Layout pageTitle={pageTitle}>
	<div class="container mx-auto min-h-[75svh] py-12 text-base-content">
		<div class="container prose max-w-none px-6 text-center">
			<h1>Search for Posts, Projects & Resources</h1>
			<PageFind />
		</div>
	</div>
</Layout>
