---
import PageFind from "../components/PageFind.astro";
import SearchLayout from "../layouts/SearchLayout.astro";

const pageTitle = "Search Jordan's Portfolio - Show Projects, Posts & Resources";
const description =
	"Looking for something specific? Easily navigate my site with this search feature. Search for blog posts, portfolio projects, resources & more at the same time.";
---

<SearchLayout pageTitle={pageTitle} description={description}>
	<div
		class="container mx-auto min-h-[90svh] max-w-5xl py-10 text-base-content"
		data-pagefind-ignore="all"
	>
		<div class="container prose max-w-none text-center">
			<h1 class="mb-0">Search for Posts, Projects & Resources</h1>
			<PageFind />
		</div>
	</div>
</SearchLayout>
