---
import Layout from "../layouts/Layout.astro";
import SocialImage from "../components/SocialImage.astro";
import SocialLinksMenu from "../components/SocialLinksMenu.astro";

const pageTitle = "Social - Jordan Muller - View Social Links, Connect & Follow";
const description =
	"Join me on social media for a variety of personal & professional updates. Links to my professional & personal profiles. Let's connect & stay in touch!";
---

<Layout pageTitle={pageTitle} description={description}>
	<section class="container prose mx-auto px-6 py-10">
		<h1 class="text-center">Social Links</h1>
		<SocialImage />
		<p class="my-4 text-center text-lg">If we aren't already,<br />I'd love to get connected!</p>
		<p class="mb-8 text-center font-bold">You can find me on the following sites:</p>
		<SocialLinksMenu />
	</section>
</Layout>
