---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Social - Jordan Muller";
---

<Layout pageTitle={pageTitle}>
	<section class="bg-200 container prose mx-auto px-6 py-10">
		<h1>Social</h1>
	</section>
</Layout>
