---
import Layout from "../layouts/Layout.astro";
import SocialImage from "../components/SocialImage.astro";
import { Icon } from "astro-icon";

const pageTitle = "Social - Jordan Muller";
const description =
	"Let's connect with each other online and stay in touch! On my Social page, I share links to my various social media accounts across a variety of websites.";
---

<Layout pageTitle={pageTitle} description={description}>
	<section class="bg-200 container prose mx-auto px-6 py-10">
		<h1 class="my-0 text-center text-3xl">Social Links</h1>
		<SocialImage />
		<p class="mt-6 text-center text-lg">If we aren't already,<br />I'd love to get connected!</p>
		<p class="mb-8 text-center font-bold">You can find me on the following sites:</p>
		<ul class="menu w-full rounded-box bg-base-300">
			<h2 class="my-4 text-center">Professional Social Accounts</h2>
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://github.com/itsjordanmuller"
					title="View GitHub Profile"
					class="link my-0 flex w-full items-center justify-center rounded-box bg-[#181717] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<Icon name="mdi:github" class="mr-2 h-7 w-7" />GitHub Portfolio
				</a>
			</li>
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://www.linkedin.com/in/itsjordanmuller"
					title="View LinkedIn Profile"
					class="link my-0 flex w-full items-center justify-center rounded-box bg-[#0E76A8] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<Icon name="mdi:linkedin" class="mr-2 h-7 w-7" />Connect on LinkedIn
				</a>
			</li>
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://codepen.io/itsjordanmuller"
					title="View CodePen Profile"
					class="link my-0 flex w-full items-center justify-center rounded-box bg-[#000000] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<Icon name="mdi:codepen" class="mr-2 h-7 w-7" />CodePen Snippets
				</a>
			</li>
			<li class="m-0">
				<details class="my-[0.25rem]">
					<summary class="py-4 text-center text-lg font-bold"
						>Browse My Personal Social Media</summary
					>
					<p class="mx-6 text-center">
						I have a variety of hobbies and interests that I stay updated on using my personal
						social media accounts. Feel free to check out my pages and see if you'd be interested in
						connecting with me!
					</p>
					<ul class="mr-7">
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://mastodon.social/@itsjordanmuller"
								title="View Mastodon Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#6364FF] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:mastodon" class="h-7 w-7" />My Mastodon Handle
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://twitter.com/itsjordanmuller"
								title="View Twitter Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#1D9BF0] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<div class="flex items-center gap-1">
									<Icon name="mdi:twitter" class="h-7 w-7" />/<Icon
										name="x-twitter"
										class="h-6 w-6"
									/>
								</div>My Twitter Profile
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://www.reddit.com/user/itsjordanmuller"
								title="View Reddit Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#FF4500] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:reddit" class="h-7 w-7" />My Reddit Account
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://www.pinterest.com/itsjordanmuller/"
								title="View Pinterest Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#CA2A33] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:pinterest" class="h-7 w-7" />My Pinterest Boards
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://www.tumblr.com/blog/itsjordanmuller"
								title="View Tumblr Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#324F6C] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:tumblr" class="h-7 w-7" />View Tumblr Blog
							</a>
						</li>
						<!-- <li class="my-[0.25rem] pl-0">
							<a
								href="https://www.youtube.com/@itsjordanmuller"
								title="View YouTube Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#FF0000] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:youtube" class="h-7 w-7" />YouTube Channel
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="#"
								title="View Threads Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#000000] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="threads" class="h-7 w-7" />View My Threads
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="#"
								title="View Instagram Profile"
								class="link my-0 flex w-full items-center justify-center rounded-box bg-[#E2306C] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<Icon name="mdi:instagram" class="h-7 w-7" />Follow on Instagram
							</a>
						</li> -->
					</ul>
				</details>
			</li>
		</ul>
	</section>
</Layout>
