---
import MenuIndicator from "../Utilities/MenuIndicator.astro";
import Menu from "../../icons/ui/Menu.astro";
import Home from "../../icons/ui/Home.astro";
import BriefcaseAccount from "../../icons/ui/BriefcaseAccount.astro";
import BookEdit from "../../icons/ui/BookEdit.astro";
import ArchiveStar from "../../icons/ui/ArchiveStar.astro";
import AccountFile from "../../icons/ui/AccountFile.astro";
import Certificate from "../../icons/ui/Certificate.astro";
import AccountGroup from "../../icons/ui/AccountGroup.astro";
import Information from "../../icons/ui/Information.astro";
import PhoneMessage from "../../icons/ui/PhoneMessage.astro";
import MagnifyingGlass from "../../icons/ui/MagnifyingGlass.astro";
import GitHubLogo from "../../icons/logos/social/GitHubLogo.astro";
import LinkedInLogo from "../../icons/logos/social/LinkedInLogo.astro";
import CodePenLogo from "../../icons/logos/social/CodePenLogo.astro";

const currentUrl = Astro.request.url;

function getActiveBadge(fullUrl: string) {
	const url = new URL(fullUrl);
	const pathname = url.pathname;

	const normalizedPathname =
		pathname.endsWith("/") && pathname.length > 1 ? pathname.slice(0, -1) : pathname;

	const badgeMap = new Map([
		["/", "home"],
		["/portfolio", "portfolio"],
		["/blog", "blog"],
		["/about", "about"],
		["/contact", "contact"],
		["/resources", "resources"],
		["/social", "social"],
		["/search", "search"],
	]);

	for (let [key, value] of badgeMap) {
		if (
			(key === "/" && normalizedPathname === key) ||
			(key !== "/" && normalizedPathname.startsWith(key))
		) {
			return value;
		}
	}

	return null;
}

const activeBadge = getActiveBadge(currentUrl);
---

<details class="dropdown z-10" data-pagefind-ignore="all">
	<summary
		title="Open/Close Main Navigation Menu"
		class="btn btn-square btn-ghost active:bg-base-300"><Menu size="24" /></summary
	>
	<nav>
		<ul
			id="main-menu"
			class="lg:border-6 menu dropdown-content z-10 mt-4 rounded-box border-8 border-solid border-base-300 bg-base-100 text-base shadow-2xl shadow-[#00000080] lg:min-w-max lg:text-2xl"
		>
			<li>
				<a href="/" title="Home Page">
					<Home size="20" />
					 Home
					<MenuIndicator isActive={activeBadge === "home"} />
				</a>
			</li>
			<li>
				<a href="/portfolio" title="Portfolio Page">
					<BriefcaseAccount size="20" />
					 Portfolio
					<MenuIndicator isActive={activeBadge === "portfolio"} />
				</a>
			</li>
			<li>
				<a href="/blog" title="Blog Page">
					<BookEdit size="20" />
					 Blog
					<MenuIndicator isActive={activeBadge === "blog"} />
				</a>
			</li>
			<li>
				<a href="/resources" title="Resources Page"
					><ArchiveStar size="20" />
					 Resources<MenuIndicator isActive={activeBadge === "resources"} />
				</a>
				<ul>
					<li>
						<a href="/resources/resume" title="View My Resume"
							><AccountFile size="20" />
							 Resume
						</a>
					</li>
					<li>
						<a href="/resources/tags/Certificates" title="View My Certifications"
							><Certificate size="20" />
							 Certificates
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/social" title="Social Page"
					><AccountGroup size="20" />
					 Social
					<MenuIndicator isActive={activeBadge === "social"} />
				</a>
				<ul>
					<li>
						<a href="https://github.com/itsjordanmuller" title="View My GitHub Profile"
							><GitHubLogo size="20" />
							 GitHub
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/itsjordanmuller" title="View My LinkedIn Profile"
							><LinkedInLogo size="20" />
							 LinkedIn
						</a>
					</li>
					<li>
						<a href="https://codepen.io/itsjordanmuller" title="View My CodePen Profile"
							><CodePenLogo size="20" />
							 CodePen
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/about" title="About Page">
					<Information size="20" />
					 About<MenuIndicator isActive={activeBadge === "about"} />
				</a>
			</li>
			<li>
				<a href="/contact" title="Contact Page">
					<PhoneMessage size="20" />
					 Contact<MenuIndicator isActive={activeBadge === "contact"} />
				</a>
			</li>
			<li class="mt-1 rounded-lg bg-base-200">
				<a href="/search" title="Search Page">
					<MagnifyingGlass size="20" />
					 Search<MenuIndicator isActive={activeBadge === "search"} />
				</a>
			</li>
		</ul>
	</nav>
</details>
<script is:inline>
	// Remove Open Tag When Clicking Anything Except Details
	// Credit: https://stackoverflow.com/users/14251221/spectric
	// Solution Link: https://stackoverflow.com/a/68644266/21003114
	// Question Link: https://stackoverflow.com/questions/68644260/how-to-close-details-tag-when-other-is-open-or-a-click-is-made-outside-the-tag
	var details = [...document.querySelectorAll("details")];
	document.addEventListener("click", function (e) {
		if (!details.some((f) => f.contains(e.target))) {
			details.forEach((f) => f.removeAttribute("open"));
		} else {
			details.forEach((f) => (!f.contains(e.target) ? f.removeAttribute("open") : ""));
		}
	});
</script>
<style>
	@media only screen and (max-width: 359px) {
		li {
			font-size: 12px;
		}
	}
</style>
