---
import SignatureGradient from "../../icons/ui/gradients/SignatureGradient.astro";
---

<a
	href="/"
	title="Return to the Home Page - JM Signature and Name"
	class="btn btn-ghost text-xl active:bg-base-300"
	><SignatureGradient size="32" />
	<span class="xs-hide">Jordan Muller</span>
</a>

<style>
	.xs-hide {
		display: none;
	}

	@media (min-width: 360px) {
		.xs-hide {
			display: block;
		}
	}
</style>
