---
import { Icon } from "astro-icon";
---

<a href="/" class="btn btn-ghost text-xl active:bg-base-300">
	<Icon name="signature" class="h-8 w-8" />
	<span class="xs-hide">Jordan Muller</span>
</a>

<style>
	.xs-hide {
		display: none;
	}

	@media (min-width: 400px) {
		.xs-hide {
			display: block;
		}
	}
</style>
