---
import { Icon } from "astro-icon";
---

<a
	href="/search"
	class="btn btn-square btn-ghost active:bg-base-300"
	aria-label="Search for Posts/Projects/Resources"
>
	<Icon name="mdi:magnify" class="h-6 w-6" />
</a>
