---
import { Image } from "astro:assets";
import AvatarImage from "../assets/images/Jordan-Muller-Wide-Portrait.jpg";
---

<div class="mb-8 flex justify-center">
	<div class="gradient-img-bg mask mask-hexagon max-w-sm p-2 md:max-w-md">
		<figure class="gradient-bg mask mask-hexagon my-0 p-1">
			<Image
				src={AvatarImage}
				alt="Jordan Muller Portrait"
				title="Jordan Muller Portrait"
				class="mask mask-hexagon my-0"
				loading="eager"
				quality="mid"
			/>
		</figure>
	</div>
</div>
