---

---

<div class="hero mt-12 rounded-2xl bg-base-300 p-4">
	<div class="card hero-content flex-col bg-base-200 px-8 py-8 lg:flex-row lg:gap-8">
		<img
			src="/images/more-questions.jpg"
			class="my-0 aspect-square w-[100%] max-w-sm rounded-lg object-cover shadow-2xl"
		/>
		<div>
			<h3>Still have some questions?</h3>
			<p>
				Didn't find the answers you were looking for? No worries! I encourage you to drop me a
				message through my <a href="/contact" class="link text-[#6272A4]">Contact</a> page. I'm
				always eager to help and address any queries you might have.
			</p>
			<p>
				Email is typically the fastest way to reach me, but I understand different preferences.
				That's why on my <a href="/social" class="link text-[#6272A4]">Social</a>
				 page, you'll find various other ways to connect with me. Please choose the method that
				suits you best – I look forward to hearing from you!
			</p>
			<a href="/contact" class="btn btn-accent w-full">Get In Touch</a>
		</div>
	</div>
</div>
