---
import { Image } from "astro:assets";
import AvatarImage from "../images/Jordan-Muller-Profile-Picture.jpg";
---

<div class="flex justify-center">
	<div class="gradient-img-bg mask mask-hexagon max-w-xs p-2">
		<Image
			src={AvatarImage}
			alt="Jordan Muller Portrait"
			title="Jordan Muller Portrait"
			class="mask mask-hexagon my-0 max-w-full"
			loading="eager"
		/>
	</div>
</div>
