---
import { Icon } from "astro-icon";
---

<div class="hero mt-12 rounded-2xl bg-base-300 p-4">
	<div class="card hero-content flex-col bg-base-200 px-8 py-8">
		<div>
			<h3 class="mt-0">Have a common question?</h3>
			<p class="text-bold">
				I have an <a href="/contact" class="link text-[#6272A4]">Frequently Asked Questions (FAQ)</a
				> section on my <a href="/contact" class="link text-[#6272A4]">About</a> page!
			</p>
			<a href="/contact" class="btn btn-secondary w-full">View Frequently Asked Questions</a>
			<p class="mb-0">
				Didn't find the answers you were looking for? No worries! I encourage you to send me a
				message via e-mail or the Contact Form above. I look forward to hearing from you!
			</p>
			<img
				src="/images/contact-form.jpg"
				class="my-8 aspect-square w-[100%] max-w-md rounded-lg object-cover shadow-2xl"
			/>
			<a href="/contact" class="btn btn-accent btn-lg h-auto w-full"
				><Icon name="mdi:arrow-up-bold-circle-outline" class="h-8 w-8" />Back Up to Contact Form</a
			>
		</div>
	</div>
</div>
