---
import Form from "../icons/ui/Form.astro";
import UpArrow from "../icons/ui/UpArrow.astro";
---

<div class="hero mt-12 rounded-2xl bg-base-300 p-2">
	<div class="card hero-content flex-col bg-base-100 p-8">
		<div>
			<h3 class="mt-0">Have a common question?</h3>
			<p class="text-bold">
				I have an <a href="/about#faqs" title="View About Page FAQs" class="link text-[#6272A4]"
					>Frequently Asked Questions (FAQ)</a
				> section on my <a href="/about" title="View About Page" class="link text-[#6272A4]"
					>About</a
				> page!
			</p>
			<a href="/contact" class="btn btn-secondary w-full">View Frequently Asked Questions</a>
			<p class="mb-0">
				Didn't find the answers you were looking for? No worries! I encourage you to send me a
				message via e-mail or the Contact Form above. I look forward to hearing from you!
			</p>
			<div class="flex justify-center">
				<img
					src="/images/contact-form.jpg"
					alt="A vintage typewriter with a sheet of paper inserted, ready for typing. The typewriter is placed on a wooden table top with a small black notebook and other materials nearby."
					class="my-8 aspect-square w-[100%] max-w-sm rounded-lg object-cover shadow-2xl"
				/>
			</div>

			<a href="#contact-form" class="btn btn-primary btn-lg mt-2 h-auto w-full text-base"
				><Form size="28" />Back to Contact Form</a
			>
			<a href="#" class="btn btn-accent btn-lg mt-2 h-auto w-full text-base"
				><UpArrow size="28" />Scroll Back to Top</a
			>
		</div>
	</div>
</div>
