---
import MagnifyingGlass from "../icons/ui/MagnifyingGlass.astro";
---

<div class="mb-0 mt-10 flex justify-center">
	<a
		href="#error-search"
		class="pointer animate-bounce"
		title="Scroll Down to Main Content"
		aria-label="Scroll Down to Main Content"><MagnifyingGlass size="32" /></a
	>
</div>
