---
import EducationExpertise from "./FAQ/EducationExpertise.astro";
import LocationAvailability from "./FAQ/LocationAvailability.astro";
import PassionsInspirations from "./FAQ/PassionsInspirations.astro";

---

<div class="flex flex-col gap-2">
    <EducationExpertise/>
    <PassionsInspirations/>
    <LocationAvailability/>
</div>
