---
import EducationExpertise from "./FAQs/EducationExpertise.astro";
import LocationAvailability from "./FAQs/LocationAvailability.astro";
import PassionsInspirations from "./FAQs/PassionsInspirations.astro";
import FAQToContactCTA from "./CTAs/FAQToContactCTA.astro";
---

<section id="faqs">
	<h2 class="mb-4 mt-0 pt-8">Frequently Asked Questions (FAQs)</h2>
	<p>Select a topic below to see my answers to a variety of common questions!</p>
	<div class="mb-8 flex flex-col gap-2">
		<EducationExpertise />
		<PassionsInspirations />
		<LocationAvailability />
	</div>
	<hr class="mb-8 mt-0" />
	<FAQToContactCTA />
</section>
