---
import FAQs from "../components/FAQs.astro";
import FAQToContactCTA from "../components/FAQToContactCTA.astro";
---

<section id="faqs">
	<h2 class="mb-4 mt-8">Frequently Asked Questions (FAQs)</h2>
	<p>Select a topic below to see my answers to a variety of common questions!</p>
	<FAQs />
	<FAQToContactCTA />
</section>
