---
import FooterLinks from "./Footer/FooterLinks.astro";
import FooterCopyright from "./Footer/FooterCopyright.astro";
import FooterSocialLinks from "./Footer/FooterSocialLinks.astro";
---

<footer>
	<nav class="container footer z-20 mx-auto bg-base-300 px-6 py-10 text-base-content">
		<FooterLinks />
	</nav>
	<div
		class="container footer z-20 mx-auto border-t border-base-200 bg-base-300 px-6 py-4 text-base-content"
	>
		<FooterCopyright />
		<FooterSocialLinks />
	</div>
</footer>
