<div
	id="search"
	class="my-0 px-6 py-8 md:px-12"
	title="Search for Specific Posts, Projects & Resources"
>
</div>

<script is:inline>
	// Credit Liran Tal
	// How to add client-side search with Pagefind to your Astro blog static website
	// https://lirantal.com/blog/2023-01-01_-how_to_add_client-side_search_to_your_astro_blog_static_website/
	window.addEventListener("DOMContentLoaded", (event) => {
		new PagefindUI({ element: "#search", resetStyles: false });
	});
</script>
