<div id="search" class="mb-0 mt-4 p-4" title="Search for Specific Posts, Projects & Resources">
</div>

<script is:inline>
	// Credit Liran Tal
	// How to add client-side search with PageFind to your Astro blog static website
	// https://lirantal.com/blog/2023-01-01_-how_to_add_client-side_search_to_your_astro_blog_static_website/
	window.addEventListener("DOMContentLoaded", (event) => {
		new PagefindUI({ element: "#search", resetStyles: false });
	});
</script>

<style is:global>
	.dark {
		--pagefind-ui-primary: #eeeeee;
		--pagefind-ui-text: #eeeeee;
		--pagefind-ui-background: #152028;
		--pagefind-ui-border: #152028;
		--pagefind-ui-tag: #152028;
	}
</style>
