---
import TagList from "./Utilities/TagList.astro";
const { contentType, uniqueTags } = Astro.props;
---

<div class="flex justify-center">
	<div class="card max-w-3xl bg-base-300 p-2 shadow-2xl">
		<div class="card bg-base-100 p-4">
			<h2 class="my-0 mb-4 text-center text-lg font-bold capitalize leading-[30px]">
				Filter {contentType} by Tag
			</h2>
			<TagList tags={uniqueTags} contentType={contentType} />
		</div>
	</div>
</div>
