---
import GitHubLogo from "../icons/logos/social/GitHubLogo.astro";
import LinkedInLogo from "../icons/logos/social/LinkedInLogo.astro";
import CodePenLogo from "../icons/logos/social/CodePenLogo.astro";
import MastodonLogo from "../icons/logos/social/MastodonLogo.astro";
import TwitterLogo from "../icons/logos/social/TwitterLogo.astro";
import TwitterXLogo from "../icons/logos/social/TwitterXLogo.astro";
import RedditLogo from "../icons/logos/social/RedditLogo.astro";
import PinterestLogo from "../icons/logos/social/PinterestLogo.astro";
import TumblrLogo from "../icons/logos/social/TumblrLogo.astro";
import YouTubeLogo from "../icons/logos/social/YouTubeLogo.astro";
import ThreadsLogo from "../icons/logos/social/ThreadsLogo.astro";
import InstagramLogo from "../icons/logos/social/InstagramLogo.astro";
---

<div class="card bg-base-300 p-2">
	<div class="card bg-base-100 p-2">
		<h2 class="mb-0 mt-2 text-center text-xl">Professional Social Accounts</h2>
		<ul class="menu my-0 w-full p-4">
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://github.com/itsjordanmuller"
					title="View GitHub Profile"
					class="my-0 flex w-full items-center justify-center rounded-box bg-[#181717] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<GitHubLogo size="28" />GitHub Portfolio
				</a>
			</li>
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://www.linkedin.com/in/itsjordanmuller"
					title="View LinkedIn Profile"
					class="my-0 flex w-full items-center justify-center rounded-box bg-[#0E76A8] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<LinkedInLogo size="28" />Connect on LinkedIn
				</a>
			</li>
			<li class="my-[0.25rem] pl-0">
				<a
					href="https://codepen.io/itsjordanmuller"
					title="View CodePen Profile"
					class="my-0 flex w-full items-center justify-center rounded-box bg-[#000000] py-4 text-xl font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
				>
					<CodePenLogo size="28" />CodePen Snippets
				</a>
			</li>
			<li class="mt-4 p-0">
				<details class="rounded-xl bg-base-200">
					<summary class="rounded-xl bg-base-300 py-4 text-center text-lg font-bold"
						>Browse My Personal Social Media</summary
					>
					<p class="mx-6 text-center">
						I have a variety of hobbies and interests that I stay updated on using my personal
						social media accounts. Feel free to check out my pages and see if you'd be interested in
						connecting with me!
					</p>
					<ul class="mr-7">
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://mastodon.social/@itsjordanmuller"
								title="View Mastodon Profile"
								class="my-0 flex w-full items-center justify-center rounded-box bg-[#6364FF] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<MastodonLogo size="28" />Mastodon Account
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://twitter.com/itsjordanmuller"
								title="View Twitter Profile"
								class="my-0 flex w-full items-center justify-center rounded-box bg-[#1D9BF0] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<div class="flex items-center gap-1">
									<TwitterLogo size="28" />/<TwitterXLogo size="24" />
								</div>Twitter Account
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://www.reddit.com/user/itsjordanmuller"
								title="View Reddit Profile"
								class="my-0 flex w-full items-center justify-center rounded-box bg-[#FF4500] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<RedditLogo size="28" />Reddit Account
							</a>
						</li>
						<li class="my-[0.25rem] pl-0">
							<a
								href="https://www.pinterest.com/itsjordanmuller/"
								title="View Pinterest Profile"
								class="my-0 flex w-full items-center justify-center rounded-box bg-[#CA2A33] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
							>
								<PinterestLogo size="28" />Pinterest Account
							</a>
						</li>
						<!-- <li class="my-[0.25rem] pl-0">
						<a
							href="https://www.tumblr.com/blog/itsjordanmuller"
							title="View Tumblr Profile"
							class="my-0 flex w-full items-center justify-center rounded-box bg-[#324F6C] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
						>
							<TumblrLogo size="28" />Tumblr Account
						</a>
					</li>

					<li class="my-[0.25rem] pl-0">
						<a
							href="https://www.youtube.com/@itsjordanmuller"
							title="View YouTube Profile"
							class="my-0 flex w-full items-center justify-center rounded-box bg-[#FF0000] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
						>
							<YouTubeLogo size="28" />YouTube Channel
						</a>
					</li>
					<li class="my-[0.25rem] pl-0">
						<a
							href="#"
							title="View Threads Profile"
							class="my-0 flex w-full items-center justify-center rounded-box bg-[#000000] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
						>
							<TumblrLogo size="28" />Threads Account
						</a>
					</li>
					<li class="my-[0.25rem] pl-0">
						<a
							href="#"
							title="View Instagram Profile"
							class="my-0 flex w-full items-center justify-center rounded-box bg-[#E2306C] py-4 text-lg font-bold text-[#ffffff] no-underline transition-all duration-300 hover:bg-[#a61168]"
						>
							<InstagramLogo size="28" />Instagram Account
						</a>
					</li> -->
					</ul>
				</details>
			</li>
		</ul>
	</div>
</div>
