---
import { Image } from "astro:assets";
import AvatarImage from "../images/Jordan-Muller.jpeg";
---

<div class="flex w-full justify-center">
	<div class="gradient-img-bg mask mask-circle max-w-[12rem] rounded-[50%] p-2">
		<Image
			src={AvatarImage}
			title="Jordan Muller Profile Picture"
			alt="Jordan Muller Profile Picture"
			class="mask mask-circle my-4 max-w-[10rem] shadow-xl shadow-[#00000080]"
		/>
	</div>
</div>
