---
import { Image } from "astro:assets";
import AvatarImage from "../assets/images/Jordan-Muller-Wide-Portrait.jpg";
---

<div class="flex w-full justify-center">
	<div class="gradient-img-bg mask mask-circle max-w-xs rounded-full p-2">
		<Image
			src={AvatarImage}
			alt="Jordan Muller Portrait"
			title="Jordan Muller Portrait"
			class="gradient-bg mask mask-circle my-0 max-w-full rounded-full p-1"
			loading="eager"
			quality="mid"
		/>
	</div>
</div>
