---
import { Image } from "astro:assets";
import AvatarImage from "../images/Jordan-Muller.jpeg";
---

<div class="flex w-full justify-center">
	<div class="gradient-border mask mask-circle max-w-[12rem] rounded-[50%] p-2">
		<Image
			src={AvatarImage}
			alt="Jordan Muller Profile Picture"
			class="mask mask-circle my-4 max-w-[10rem] shadow-xl shadow-[#00000080]"
		/>
	</div>
</div>
<style>
	.gradient-border {
		background: linear-gradient(45deg, #dfa177 10%, #a61168 65%, #4c007e 100%);
	}
</style>
