---

---

<h2>Timeline</h2>
<ul class="timeline timeline-vertical timeline-snap-icon pl-0 max-md:timeline-compact">
	<li>
		<div class="timeline-middle mt-0">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#BD93F9" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2000</time>
			<div class="text-lg font-black">Born Near the Heart of Silicon Valley</div>
			<p>
				Born in the San Francisco Bay Area, near the Heart of Silicon Valley, my childhood was
				mostly spent away from the digital world I would later fully embrace. Despite being raised
				in a home built in the shadow of tech giants, most weekends were usually spent further north
				on the water. There, my family taught me the skill & patience of fishing as well as how to
				appreciate & respect the beauty of nature. If we weren't at the lake, we were most likely in
				the forest near a river, where we would go hiking, fishing and camping.
			</p>
			<p>
				Other than fishing, my favorite thing to do when I was young was help my grandmother cook,
				especially if it was for a meal I helped plan or for a fish I had suddenly caught. Despite
				not having fish in the itinerary, my family was always quick to adapt and help pitch in as a
				team to complete common goals. My dad would help me learn to clean the fish, grandpa would
				fry it up for us, while my grandma and I worked on figuring out what sides we were going to
				make before it was all done.
			</p>
			<p>
				These experiences, deeply rooted in the tangible and natural world, formed a foundation of
				deep curiosity and respect for the world around me. The dichotomy between my digital career
				and my nature-filled upbringing continues to shape my approach to technology, grounding it
				in a deep respect for the environment, community & morals that I hold dear.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF79C6" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time>2008</time>
			<div class="text-lg font-black">First Desktop Computer</div>
			 I got my first Dell Workstation when I was eight years old, it only had a Pentium processor,
			but it was enough to spark a lifelong passion for computers. Gaming has always been the
			driving force of my passion.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFB86C" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2013</time>
			<div class="text-lg font-black">Started Learning Programming as a Hobby</div>
			 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, voluptas. Placeat, laudantium
			ullam quaerat officia expedita quas nisi quibusdam animi id, non nemo esse, libero a quia
			cumque fugit facere saepe illo voluptatem quasi eligendi nulla! Ut esse molestiae nam
			voluptatem, voluptas veniam optio modi a, dolor corporis quidem laborum.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#BD93F9" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10 md:text-start">
			<time>2018</time>
			<div class="text-lg font-black">Graduated High School</div>
			 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quisquam praesentium
			commodi voluptate reprehenderit, impedit accusantium perferendis provident amet in et
			obcaecati quia adipisci hic, tempore quod autem expedita laudantium vero! Qui voluptatum sequi
			molestiae quasi perferendis, non totam nulla a magnam ipsum perspiciatis. A nemo at debitis
			nisi velit.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF79C6" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2019</time>
			<div class="text-lg font-black">
				Took a Gap Year Exploring Entreprenuership & Personal Interests
			</div>
			 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, ab ea fuga vel nesciunt
			placeat ipsum necessitatibus suscipit repellat dicta totam. Consectetur, odio eius! Fugiat
			assumenda magnam ut quasi voluptatibus, et veniam enim eius porro velit praesentium sed minima
			dicta, fuga facere. Dolore, sequi placeat minima non laudantium molestiae incidunt?
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFB86C" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10 md:text-start">
			<time>2023</time>
			<div class="text-lg font-black">
				Graduated University with a Bachelor of Science in Computer Science
			</div>
			 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam tempora ullam voluptatibus
			ipsam corporis veniam voluptate repudiandae vitae necessitatibus a unde eius dignissimos quam
			vero dicta dolores, eos ea? Corrupti doloribus quod, eos a mollitia aperiam aut debitis fugiat
			quaerat amet laboriosam velit sunt illum laudantium necessitatibus possimus tempore facere.
		</div>
		<hr />
	</li>
</ul>
