---

---

<h2>Timeline</h2>
<ul class="timeline timeline-vertical timeline-snap-icon pl-0 max-md:timeline-compact">
	<li>
		<div class="timeline-middle mt-0">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF79C6" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2000</time>
			<div class="text-lg font-black">Growing Up Near the Heart of Silicon Valley</div>
			<p>
				Born in the San Francisco Bay Area, near the Heart of Silicon Valley, my childhood was
				mostly spent away from the digital world I would later fully embrace. Despite being raised
				in a home built in the shadow of tech giants, most weekends were usually spent further north
				on the water. There, my family taught me the skill & patience of fishing as well as how to
				appreciate & respect the beauty of nature. If we weren't at the lake, we were most likely in
				the forest near a river, where we would go hiking, fishing and camping.
			</p>
			<p>
				Other than fishing, my favorite thing to do when I was young was help my grandmother cook,
				especially if it was for a meal I helped plan or for a fish I had suddenly caught. Despite
				not having fish in the itinerary, my family was always quick to adapt and help pitch in as a
				team to complete common goals. My dad would help me learn to clean the fish, grandpa would
				fry it up for us, while my grandma and I worked on figuring out what sides we were going to
				make before it was all done.
			</p>
			<p>
				These experiences, deeply rooted in the tangible and natural world, formed a foundation of
				deep curiosity and respect for the world around me. The dichotomy between my digital career
				and my nature-filled upbringing continues to shape my approach to technology, grounding it
				in a deep respect for the environment, community & morals that I hold dear.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFB86C" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time>2006</time>
			<div class="text-lg font-black">My First Time Using a Desktop Computer</div>
			<p>
				My journey into the world of computers started under the guidance of my grandfather, an
				experienced machinist. He patiently guided me through the basics of using a mouse and
				keyboard on his home PC, sparking a fascination in technology that has evolved into a
				lifelong passion.
			</p>
			<p>
				I remember when monitors were thick and heavy, when the internet still loaded line by line
				with the distinctive sound of dial up tones in the background, when Wi-Fi wasn't available
				in every home and business, and when smartphones were non-existent.
			</p>
			<p>
				The first software I ever used was AutoCAD 2004 on Window 98 Second Edition. Even though all
				I could do at the time was draw simple lines & shapes, I watched my grandfather design, and
				then actually create a variety of parts that you could see, touch, and use in real life to
				build something even more amazing. I've since been completely fascinated by the ability to
				represent physical objects, data, and information in a digital form.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#BD93F9" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2008</time>
			<div class="text-lg font-black">The Very First Computer I Ever Owned</div>
			<p>
				The year 2008 marked a significant milestone in my digital journey: my dad bought me my
				first personal computer. It was a Dell Inspiron 530 desktop equipped with a state of the art
				Celeron processor. This machine ran on Windows XP, a significant leap from the Windows 98
				system I was accustomed to on my grandfather's PC.
			</p>
			<p>
				This new computer became my portal to a world of exploration and creativity. My curiosity
				led me to play around with different features, testing my skills and learning new ones along
				the way. I dove into Microsoft Office, learning the ins and outs of Microsoft Word, Paint,
				and PowerPoint.
			</p>
			<p>
				Gaming also became a big part of my life during this time. I spent countless hours on games
				like Spider Solitaire and 3D Space Cadet Pinball. Typing games not only provided
				entertainment but also honed my keyboard skills, which has proved invaluable so far
				throughout my technological endeavours. They weren't just games; to me, they were my gateway
				into a interactive & digital world.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF79C6" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time>2009</time>
			<div class="text-lg font-black">My First Email Address & First Time Coding</div>
			<p>
				Another significant first was getting my own email address. This opened up a whole new world
				of communication for me. What started as sending out email cards, jokes, and e-vites to
				family members became my first experience with coding through a combination of luck &
				curiosity when I decided to try and customize one of the HTML email templates.
			</p>
			<p>
				I learned that with some templates, you had the ability change what the text says or modify
				colors. It was thrilling to see how small changes in the code could transform the appearance
				of an email or invitation. This experience, though seemingly minor, planted the seeds for my
				later interest in software and web development.
			</p>
			<p>
				Sending these digital creations to family members, even when it wasn't their birthday and
				there was no special occasion, was a source of joy and pride for me. It marked the beginning
				of my understanding of the potential and versatility of computers, not just as tools for
				work or gaming, but as gateways to creativity and personal expression.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFB86C" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2013</time>
			<div class="text-lg font-black">Getting My MacBook Air & Going to a Teen Coding Bootcamp</div>
			<p>
				The year 2013 marked another significant turning point in my technological journey as I
				received my first MacBook Air for my 13th birthday present. The 2012 edition MacBook Air was
				the thinest laptop I had ever seen. Not only was it super thin and portable, it was a
				capable & powerful tool that expanded my digital horizons. Its ecosystem of software, ease
				of use, and advanced capabilities opened up new realms of creativity and efficiency for me.
			</p>
			<p>
				Later on that year, I also attended an iOS mobile game development bootcamp. The bootcamp,
				though brief, was a pivotal experience for me. It focused on teaching the basics of
				programming through Objective C, which was one of the most popular languages for iOS apps at
				the time. This was my first time coding in a collaborative environment, where I had the
				opportunity to code alongside others, openly ask for help, and engage in meaningful dialogue
				about our projects.
			</p>
			<p>
				The experience was both humbling and empowering, teaching me the value of teamwork and
				communication in the tech world. It was here that I first experienced the thrill of bringing
				ideas to life through code and realized the potential impact I could have in the field of
				technology. This bootcamp, coupled with my new MacBook Air, marked a significant step in my
				journey, bolstering my confidence and setting the stage for my future endeavors in software
				development. It felt like if I asked enough of the right questions, I just might be able to
				do anything.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#BD93F9" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time>2018</time>
			<div class="text-lg font-black">Graduated as Salutatorian of My Class in High School</div>
			<p>
				In 2018, I celebrated not just my high school graduation but also the culmination of a
				series of remarkable achievements. My high school years were characterized by active
				leadership and academic excellence. In my senior year, I served as a Student Government
				Liaison and Coordinator, a role that honed my leadership and organizational skills. My
				commitment to student engagement and community building was further exemplified in my time
				spent serving as the President of my Sophomore Class.
			</p>
			<p>
				One of my proudest accomplishments during these years was when I founded the STEM and Home
				Economics Club, on both of which I also served as the Boosters Committee Student Liaison. In
				that role, I actively advocated for and secured funding for various extracurricular and
				after-school club projects. This involved presenting detailed proposals to the school
				administration and local community organizations, highlighting the benefits and potential of
				each club's initiatives. My efforts not only helped securee financial support but also
				fostered a stronger sense of community within the school. These experiences in navigating
				the complexities of funding and advocacy were instrumental in developing my skills in
				communication, negotiation, and leadership.
			</p>
			<p>
				Academically, I excelled, graduating with a cumulative GPA of 4.33. This academic rigor and
				dedication earned me the honor of being the Salutatorian of the Graduating Class of 2018.
				These achievements were not just milestones but also a testament to my commitment to
				leadership, academic excellence, and the pursuit of knowledge across diverse fields.
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF79C6" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start mb-10 md:text-end">
			<time>2019</time>
			<div class="text-lg font-black">
				Took a Gap Year Exploring Entreprenuership & Personal Interests
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vitae praesentium sint non,
				vero accusamus deserunt sit, aperiam excepturi esse voluptas dolorem, blanditiis laboriosam
				velit placeat quasi omnis voluptatibus neque?
			</p>
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFB86C" class="h-5 w-5"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time>2023</time>
			<div class="text-lg font-black">
				Graduated from University with a Bachelor of Science in Computer Science
			</div>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur ducimus quos repellat
				cum consequuntur eaque harum id in commodi nemo, modi incidunt ab rem libero consectetur?
				Unde sit ab nam?
			</p>
		</div>
		<hr />
	</li>
</ul>
