---

---

<section>
	<h2 class="footer-title opacity-90">Pages</h2>
	<ul>
		<li><a href="/" title="Home Page" class="link-hover link">Home</a></li>
		<li>
			<a href="/portfolio" title="Portfolio Projects Page" class="link-hover link">Portfolio</a>
		</li>
		<li>
			<a href="/blog" title="Blog Posts Page" class="link-hover link"> Blog</a>
		</li>
		<li>
			<a href="/resources" title="Resources Page" class="link-hover link">Resources</a>
		</li>
		<li>
			<a href="/social" title="Social Page" class="link-hover link">Social</a>
		</li>
		<li>
			<a href="/about" title="About Page" class="link-hover link">About</a>
		</li>
		<li>
			<a href="/contact" title="Contact Page" class="link-hover link">Contact</a>
		</li>
		<li>
			<a href="/search" title="Search Page" class="link-hover link">Search</a>
		</li>
	</ul>
</section>
<section>
	<h2 class="footer-title opacity-90">Social</h2>
	<ul>
		<li>
			<a
				href="https://github.com/itsjordanmuller"
				title="View My GitHub Profile"
				class="link-hover link">GitHub</a
			>
		</li>
		<li>
			<a
				href="https://www.linkedin.com/in/itsjordanmuller"
				title="View My LinkedIn Profile"
				class="link-hover link">LinkedIn</a
			>
		</li>
		<li>
			<a
				href="https://codepen.io/itsjordanmuller"
				title="View My CodePen Profile"
				class="link-hover link">CodePen</a
			>
		</li>
	</ul>
</section>
<section>
	<h2 class="footer-title opacity-90">Portfolio Projects</h2>
	<ul>
		<li>
			<a
				href="/portfolio/100-days-python/"
				title="View My 100 Days of Python Project"
				class="link-hover link">100 Days of Python</a
			>
		</li>
		<li>
			<a
				href="/portfolio/50-projects-50-days-html-css-js/"
				title="View My 50 Projects in 50 Days Challenge"
				class="link-hover link">50 Projects in 50 Days</a
			>
		</li>
		<li>
			<a
				href="/portfolio/100-days-css-challenge/"
				title="View My 100 Days CSS Challenge"
				class="link-hover link">100 Days CSS Challenge</a
			>
		</li>
	</ul>
</section>
<section>
	<h2 class="footer-title opacity-90">Miscellaneous Links</h2>
	<ul>
		<li>
			<a href="/resources/resume" title="View My Resume" class="link-hover link">Resume</a>
		</li>
		<li>
			<a href="/resources/tags/Certificates" title="View My Certifications" class="link-hover link"
				>Certificates</a
			>
		</li>
		<li>
			<a href="/contact#contact-form" title="View Direct Contact Form" class="link-hover link"
				>Contact Form</a
			>
		</li>
		<li>
			<a href="/about#faqs" title="View Frequently Asked Questions (FAQs)" class="link-hover link"
				>Frequently Asked Questions</a
			>
		</li>
		<li>
			<a href="/about#timeline" title="View Timeline of Significant Events" class="link-hover link"
				>Timeline of Significant Events</a
			>
		</li>
	</ul>
</section>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>
