---
import { Icon } from "astro-icon";
---

<nav class="md:place-self-center md:justify-self-end">
	<div class="w-50 grid grid-flow-col gap-4">
		<a href="https://github.com/itsjordanmuller"
			><Icon name="mdi:github" class="h-6 w-6 hover:text-accent" /></a
		>
		<a href="https://www.linkedin.com/in/itsjordanmuller"
			><Icon name="mdi:linkedin" class="h-6 w-6 hover:text-accent" /></a
		>
		<a href="https://codepen.io/itsjordanmuller"
			><Icon name="mdi:codepen" class="h-6 w-6 hover:text-accent" /></a
		>
	</div>
</nav>
