---

---

<nav>
	<header class="footer-title">Pages</header>
	<a href="/" class="link-hover link">Home</a>
	<a href="/portfolio" class="link-hover link">Portfolio</a>
	<a href="/blog" class="link-hover link">Blog</a>
	<a href="/about" class="link-hover link">About</a>
	<a href="/contact" class="link-hover link">Contact</a>
	<a href="/resources" class="link-hover link">Resources</a>
	<a href="/social" class="link-hover link">Social</a>
</nav>
<nav>
	<header class="footer-title">Social Links</header>
	<a href="https://github.com/itsjordanmuller" class="link-hover link">GitHub</a>
	<a href="https://www.linkedin.com/in/itsjordanmuller" class="link-hover link">LinkedIn</a>
	<a href="https://codepen.io/itsjordanmuller" class="link-hover link">CodePen</a>
</nav>
<nav>
	<header class="footer-title">Project Links</header>
	<a href="https://github.com/itsjordanmuller/2023-python-100-days" class="link-hover link"
		>100 Days of Python</a
	>
	<a href="https://github.com/itsjordanmuller/50-in-50-html-css-javascript" class="link-hover link"
		>50 Projects in 50 Days</a
	>
	<a href="https://github.com/itsjordanmuller/css-100-days-challenge" class="link-hover link"
		>100 Days CSS Challenge</a
	>
</nav>
<nav>
	<header class="footer-title">Resource Links</header>
	<a href="/resources/resume" class="link-hover link">Resume</a>
	<a href="/resources/tags/certificates" class="link-hover link">Certificates</a>
</nav>
