---
import GitHubLogo from "../../icons/logos/social/GitHubLogo.astro";
import LinkedInLogo from "../../icons/logos/social/LinkedInLogo.astro";
import CodePenLogo from "../../icons/logos/social/CodePenLogo.astro";
---

<div class="md:place-self-center md:justify-self-end">
	<ul class="w-50 grid grid-flow-col gap-4">
		<li>
			<a
				href="https://github.com/itsjordanmuller"
				title="View My GitHub Profile"
				aria-label="View My GitHub Profile"
				class="duration-200 hover:text-accent active:text-neutral"
				><GitHubLogo size="24" />
			</a>
		</li>
		<li>
			<a
				href="https://www.linkedin.com/in/itsjordanmuller"
				title="View My LinkedIn Profile"
				aria-label="View My LinkedIn Profile"
				class="duration-200 hover:text-primary active:text-neutral"
				><LinkedInLogo size="24" />
			</a>
		</li>
		<li>
			<a
				href="https://codepen.io/itsjordanmuller"
				title="View My CodePen Profile"
				aria-label="View My CodePen Profile"
				class="duration-200 hover:text-secondary active:text-neutral"
				><CodePenLogo size="24" />
			</a>
		</li>
	</ul>
</div>
