---
import { Icon } from "astro-icon";
---

<aside class="grid-flow-col items-center">
	<Icon name="signature" class="h-10 w-10 hover:text-accent" />
	<p>Copyright © 2023 Jordan Muller<br />All Rights Reserved</p>
</aside>
