---
import TagList from "./TagList.astro";
const { contentType, uniqueTags } = Astro.props;
---

<section class="flex justify-center">
	<div class="card max-w-3xl bg-base-300 p-2">
		<div class="card bg-base-100 p-2 pt-4">
			<h2 class="mb-2 mt-0 text-center text-lg font-bold leading-8">
				Filter <span class="capitalize">{contentType}</span> by Tag
			</h2>
			<TagList tags={uniqueTags} contentType={contentType} />
		</div>
	</div>
</section>
