---
import TagList from "./TagList.astro";
const { author, date, tags, contentType } = Astro.props;
---

<p class="mb-4 mt-0 text-center text-xs sm:text-sm">
	Created by <a class="link font-bold text-base-content" href="/about">{author}</a> on <a
		class="link font-medium text-base-content">{date}</a
	>
</p>
<div class="mb-10 max-w-4xl rounded-2xl bg-base-300 p-2">
	<TagList tags={tags} contentType={contentType} />
</div>
<hr class="my-0 w-full max-w-md border text-base-content" />
