---
const { author, date } = Astro.props;
---

<p class="mb-2 mt-0 text-center text-xs sm:text-sm">
	Created by <a class="link font-bold text-base-content" href="/about">{author}</a> on <a
		class="link font-medium text-base-content">{date}</a
	>
</p>
